/* COLORS */

$main: #FFFFFF;
$first-grey: #F3F3F3;
$second-grey: #E1E1E1;
$third-grey: #9A9A9A;

$main-font-color: #2D66A1;
$second-font-color: #989898;

$first-gradient: #FF9B01;
$second-gradient: #97CB07;
$third-gradient: #1D9FDF;
$fourth-gradient: #3067C9;
$fifth-gradient: #692FC9;
$sixth-gradient: #AA35CA;
$seventh-gradient: #CC318C;
$eigth-gradient: #CC0004;
$nineth-gradient: #CB6603;


/* FONTS FAMILY */

$main-font-family: Roboto;
