@import '../../sass/variables';

.navbar{
  .mat-toolbar-row{
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      &.row{
        height: 200px;
        .help {
          position: absolute;
          left: 10px;
          top: 160px;
        }
      }
      &.row-second{
        height: 100px;
        justify-content: space-around;
        font-size: 16px;
        padding: 20px 0 20px 0;
      }
    }
  }
  .row {
    height: 64px;
    background-color: $first-grey;
    color: $third-grey;
    padding-left: 50px;
    &-second {
      background-color: $second-grey;
      height: 50px;
    }
  }
}
