<mat-toolbar role="header" class="navbar">
    <mat-toolbar-row class="row">
        <img [src]="pathToImg" alt="openannuaire">

        <app-filters paramName="name" paramLabel="Recherche" [multiple]="false" [needName]="false"></app-filters>

        <div class="help">Aide <i class="fas fa-question-circle"></i></div>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-second">
        <div class="total-companies"><b>{{ totalCompanies }}</b> entreprises au {{ currentDate }}</div>
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tableau</a>
            <a mat-tab-link routerLink="/map" routerLinkActive="active">Carte</a>
            <a mat-tab-link routerLink="/export" routerLinkActive="active">Export</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
