<app-navbar parameter="name"></app-navbar>

<button mat-icon-button class="menu" (click)="toggleSidebar()">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
</button>

<!-- Start SideNav -->
<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side" [opened]="toggle" class="sidebar">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- END SideNav -->
