<app-navbar parameter="name"></app-navbar>

<!-- Start SideNav -->
<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav mode="side" [opened]="toggle" class="sidebar">
        <app-sidebar>
        </app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-icon-button (click)="toggleSidebar()">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- END SideNav -->
