.menu {
    position: absolute;
    top: 12px;
    left: 10px;
}

.sidebar-container {
    mat-sidenav-content {
        padding-top: 20px;
        padding-left: 20px;
        height: calc(100% - 20px);
        overflow: hidden;
    }
}


