@import '../../sass/variables';

.sidebar-container {
    height: calc(100% - 114px);
    font-family: $main-font-family;
    .sidebar{
        width: 350px;
        height: 100%;
        background-color: $first-grey;
        &-content{
            display: flex;
            flex-direction: column;
            height: 100%;
            color: $second-font-color;
            .sidebar-categ{
                padding: 10px 20px 10px 20px;
                border-bottom: 2px solid $second-grey;
                flex: 0 0 6%;
                &-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    .result{
                        color: $main-font-color;
                    }
                    .result-count {
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                &-desc{
                    padding: 10px 20px 10px 20px;
                    flex: 0 0 10%;
                }
                &-filter {
                    .filter-radio{
                        mat-radio-button{
                            margin: 0 5px;
                        }
                    }
                    .mat-radio-inner-circle, .mat-radio-outer-circle {
                        border-color: $first-gradient;
                    }
                    .mat-radio-inner-circle {
                        background-color: $first-gradient;
                    }
                }
                .filter-added {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .categ{
                &-header {
                    &-button {
                        color: $first-gradient
                    }
                }
                &-activity {
                    border-left: 6px solid $first-gradient;
                    .mat-form-field-ripple{
                        background-color: $first-gradient;
                    }
                    .mat-focused .mat-form-field-label{
                        color: $first-gradient;
                    }
                    &-button {
                        &:hover{
                            color: $first-gradient
                        }
                        &-count{
                            color: $main;
                            border: 1px solid $first-gradient;
                            background-color: $first-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-type {
                    border-left: 6px solid $second-gradient;
                    &-button {
                        &:hover {
                            color: $second-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $second-gradient;
                            background-color: $second-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-county {
                    border-left: 6px solid $third-gradient;
                    &-button {
                        &:hover {
                            color: $third-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $third-gradient;
                            background-color: $third-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-city {
                    border-left: 6px solid $fourth-gradient;
                    &-button {
                        &:hover {
                            color: $fourth-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $fourth-gradient;
                            background-color: $fourth-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-creation {
                    border-left: 6px solid $fifth-gradient;
                    .mat-form-field-ripple {
                        background-color: $fifth-gradient;
                    }
                    .mat-focused .mat-form-field-label {
                        color: $fifth-gradient;
                    }
                    &-button {
                        &:hover {
                            color: $fifth-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $fifth-gradient;
                            background-color: $fifth-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-legal {
                    border-left: 6px solid $sixth-gradient;
                    &-button {
                        &:hover {
                            color: $sixth-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $sixth-gradient;
                            background-color: $sixth-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-effectives {
                    border-left: 6px solid $seventh-gradient;
                    &-button {
                        &:hover {
                            color: $seventh-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $seventh-gradient;
                            background-color: $seventh-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-revenues {
                    border-left: 6px solid $eigth-gradient;
                    &-button {
                        &:hover {
                            color: $eigth-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $eigth-gradient;
                            background-color: $eigth-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
                &-postal {
                    border-left: 6px solid $nineth-gradient;
                    .mat-form-field-ripple {
                        background-color: $nineth-gradient;
                    }
                    .mat-focused .mat-form-field-label {
                        color: $nineth-gradient;
                    }
                    &-button {
                        &:hover {
                            color: $nineth-gradient;
                        }
                        &-count {
                            color: $main;
                            border: 1px solid $nineth-gradient;
                            background-color: $nineth-gradient;
                            border-radius: 15px;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
    mat-sidenav-content{
        background-color: $main;
        .mat-icon-button {
            margin: 12px 0;
        }
    }
}
