@import '../../sass/variables';

.sidebar-container {
    height: calc(100% - 114px);
    font-family: $main-font-family;
    .sidebar{
        width: 350px;
        height: 100%;
        background-color: $first-grey;

        &-content{
            display: flex;
            flex-direction: column;
            height: 100%;
            color: $second-font-color;
            .sidebar-categ{
                padding: 10px 20px 10px 20px;
                border-bottom: 2px solid $second-grey;
                flex: 0 0 10%;
                &-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    .result{
                        color: $main-font-color;
                    }
                    .result-count {
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                &-desc{
                    padding: 10px 20px 10px 20px;
                    flex: 0 0 10%;
                }
                &-filter {
                    .filter-radio{
                        mat-radio-button{
                            margin: 0 5px;
                        }
                    }
                    .mat-radio-inner-circle, .mat-radio-outer-circle {
                        border-color: $first-gradient;
                    }
                    .mat-radio-inner-circle {
                        background-color: $first-gradient;
                    }
                }
            }
            .categ{
                &-header {
                    &-button {
                        color: $first-gradient
                    }
                }
                &-radie{
                    border-left: 6px solid $first-gradient;
                    &-button{
                        color: $first-gradient
                    }
                }
                &-county {
                    border-left: 6px solid $second-gradient;
                    &-button {
                        color: $second-gradient;
                    }
                }
                &-legal {
                    border-left: 6px solid $third-gradient;
                    &-button {
                        color: $third-gradient;
                    }
                }
                &-postal {
                    border-left: 6px solid $fourth-gradient;
                    &-button {
                        color: $fourth-gradient;
                    }
                }
            }
        }
    }
    mat-sidenav-content{
        background-color: $main;
        .mat-icon-button {
            margin: 12px 0;
        }
    }
}
