<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" opened="true" (opened)="events.push('open!')" (closed)="events.push('close!')" class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-filter-result">
        <span class="result-count">200</span>
        Résultats
      </div>
      <button mat-icon-button>
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-categ categ-activity">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-sitemap"></i> Activité (Code APE)</div>
          <button mat-icon-button class="categ-activity-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-company-type">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-question-circle"></i> Catégorie d'entreprise</div>
          <button mat-icon-button class="categ-company-type-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-county">
        <div class="sidebar-categ-title">
          <div><i class="far fa-map"></i> Département</div>
          <button mat-icon-button class="categ-county-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-city">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-map-marker-alt"></i> Commune</div>
          <button mat-icon-button class="categ-city-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-create">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-calendar"></i> Année de création</div>
          <button mat-icon-button class="categ-create-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-legal">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-bookmark"></i> Statut juridique</div>
          <button mat-icon-button class="categ-legal-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-effective">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-user"></i> Effectifs</div>
          <button mat-icon-button class="categ-effective-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-sale">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-chart-bar"></i> Chiffre d'Affaires</div>
          <button mat-icon-button class="categ-sale-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">

        </div>
      </div>
      <div class="sidebar-categ categ-region">
        <div class="sidebar-categ-title">
          <div><i class="fas fa-map"></i> Région</div>
          <button mat-icon-button class="categ-region-button">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
        <div class="sidebar-categ-filter">
        </div>
      </div>
      <div class="sidebar-categ-desc">
        <p>Ajoutez et cumulez les critères de recherche pour affiner votre recherche :</p>
      </div>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <i class="fas fa-bars fa-2x" aria-hidden="true"></i>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
