@import '../../sass/variables';

#export{
    padding: 0 10px;
    .section-download-doc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-left: 4px solid $third-grey;
        padding-left: 10px;
        .download-doc{
            &-type, &-button{
                flex: 1 1 auto;
                align-self: stretch;
                text-align: left;
                margin: 0;
            }
            &-button{
                color : $main-font-color;
                font-size: 18px;
            }
            &-info{
                flex: 1 1 100%;
                align-self: stretch;
                margin: 0;
            }
        }
    }
}
