@import '../../sass/variables';

#export{
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar, &::-ms- {
        display: none;
    }
    h1{
        margin-top: 0;
    }
    .section-download-doc{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-left: 4px solid $third-grey;
        padding-left: 10px;
        @media screen and (max-width: 1200px)  {
            flex-direction: column;
        }
        .download-doc{
            &-type{
                padding: 10px 0;
                line-height: 1em;
                width: 50px;
            }
            &-type, &-button{
                flex: 0 1 auto;
                align-self: stretch;
                text-align: left;
                margin: 0;
            }
            &-button{
                color : $main-font-color;
                font-size: 18px;
                white-space: normal;
                @media screen and (max-width: 1200px) {
                    padding: 0;
                }
            }
            &-info{
                flex: 1 1 100%;
                align-self: stretch;
                margin: 0;
            }
        }
    }
}
