@import '../../sass/variables';

.mat-form-field {
    input {
        &.multiple-select {
            background: inherit;
            border: none;
            color: $first-grey;

            &:focus {
                outline: 0;
            }
        }
    }
}
