<mat-form-field *ngIf="type === 'text'" [id]="display ? 'hide' : 'show'">
    <mat-label *ngIf="multiple">{{ paramLabel }}</mat-label>

    <mat-chip-list #chipList *ngIf="multiple">
        <input #chip_input
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeys"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addFilter(chip_input.value);chip_input.value='';"
        />
    </mat-chip-list>

    <input #single_input matInput *ngIf="!multiple" (change)="addFilter(single_input.value)"
           placeholder="Nom de l'entreprise, n° de SIRET, activité..."
    />
    <i *ngIf="!multiple" class="fa fa-search search-icon"></i>
</mat-form-field>

<div *ngIf="multiple && type === 'text'">
    <mat-chip *ngFor="let value of filter.values" [selectable]="selectable" [removable]="removable" (remove)="removeFilter(value)">
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        {{ value }}
    </mat-chip>
</div>

<mat-form-field *ngIf="type === 'selectObject'" [id]="display ? 'hide' : 'show'">
    <mat-label *ngIf="multiple">{{ paramLabel }}</mat-label>
    <mat-chip-list #chipList *ngIf="multiple">
        <input #chip_input [matAutocomplete]="auto" class="multiple-select mat-select"/>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addOptionFilter($event.option)">
            <mat-option *ngFor="let option of options" [value]="option">
                <span>{{ option.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-chip-list>
    <i *ngIf="!multiple" class="fa fa-search search-icon"></i>
</mat-form-field>

<div *ngIf="multiple && type === 'selectObject'">
<mat-chip *ngFor="let option of optionFilters" [selectable]="selectable" [removable]="removable" (remove)="removeOptionFilter(option)">
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    {{ option.name }}
</mat-chip>
</div>
